body{

	background: #f0eff5;
}
.topleft{
	width:30%;
	height:50px;
	line-height: 50px;
	float:left;
	color:#fff;
	
}
.left{
	height:50px;
	line-height: 48px;
	float:left;
	padding-left: 10px;
	font-size:34px;
}
.topleft span{
	margin-left: 6px;
	font-size: 18px;
	float:left;
}
.topright{
	width:30%;
	height: 50px;
	float:right;
	line-height: 50px;
	color:#fff;
	text-align: right;
	font-size: 18px;
	padding-right: 10px;
}
.title{
	width:94%;
	height:40px;
	line-height: 40px;
	font-size: 16px;
	background: #fff;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 3%;
	padding-right: 3%;
}
.imglist span{
	font-size: 13px;
}