.topleft{
	width:10%;
	height:50px;
	line-height: 50px;
	float:left;
	color:#fff;
	
}
.left{
	height:50px;
	line-height: 50px;
	float:left;
	padding-left: 10px;
	font-size:34px;
}
.topleft span{
	margin-left: 10px;
	font-size: 20px;
	float:left;
}
.topmind{
	width:75%;
	height:50px;
	line-height: 50px;
	color:#fff;
	text-align: center;
	font-size: 22px;
	float:left;
}
.topright{
	width:10%;
	height: 50px;
	float:left;
}
.infor{
	width:100%;
	background: #f1eff4;
	position:absolute;
	top:50px;
	left:0px;
}
.time{
	width:94%;
	height:42px;
	background: #fff;
	padding-left: 3%;
	padding-right: 3%;
}
.timeleft{
	width:16%;
	height:42px;
	line-height: 42px;
	font-size: 16px;
	float:left;
}
.timeinput{
	width:39%;
	height:40px;
	line-height:40px;
	float:left;
}
.timeinput input{
	width:90%;
	height:26px;
	line-height: 26px;
	margin-top: 8px;
	padding-left: 10px;
	font-size: 16px;
	
}
.time span{
	font-size: 16px;
	line-height: 40px;
	float:left;
}
.serch{
	width:94%;
	height:40px;
	line-height: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	background: #ff5e32;
	color:#fff;
	text-align: center;
	font-size: 22px;
}
.serchli{
	width:94%;
	height:60px;
	border-bottom: 1px solid #eeeeee;
	background: #fff;
	padding-left: 3%;
	padding-right: 3%;
	
}
.serchli1{
	width:100%;
	height:15px;
	line-height: 15px;
	padding-top: 15px;
	font-size: 16px;
	color:#000;
}
.serchli span{
	font-size: 16px;
}
.serchli12{
	width:100%;
	height:15px;
	line-height: 15px;
	margin-top: 5px;
	padding-bottom: 10px;
	font-size: 14px;
	color:#707070;
}
.serchli1test{
	width:33.33%;
	height:15px;
	line-height: 15px;
	float:left;
}
.dfw{
	color:red;
}
